@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



.background{
    background: rgb(194,192,192);
    background: -moz-linear-gradient(0deg, rgba(194,192,192,1) 54%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(194,192,192,1) 54%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(194,192,192,1) 54%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2c0c0",endColorstr="#ffffff",GradientType=1);
}

@green : #79B4B7;
@orange: #FF8E00;
@lightblue: #B1D0E0;
@snipblue: #6998AB;
@blue: #406882;
@darkenblue: #1A374D;

@font-poppins: "Poppins", sans-serif;

@font-pacifico: 'Pacifico', cursive;

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row; 
}

@laptop: ~"only screen and (max-width: 1200px)";
@laptop1000: ~"only screen and (max-width: 1000px)";
@tablet: ~"only screen and (max-width: 800px)";
@minitablet: ~"only screen and (max-width: 600px)";
@mobile: ~"only screen and (max-width: 500px)";

// usage
// @media @laptop{

// }



